.contacts-links {
  text-align: center;
  color: #333;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.contacts-links h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.contact-links-container {
  display: flex;
  justify-content: center;
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;
  text-decoration: none;
  color: #4e8cf6;
}

.contact-link span {
  margin-top: 0.5rem;
}
